{%extends 'public_index.html'%}
{% load static %}
{%block content%} 

        <!-- slider Area Start-->
        <div class="slider-area ">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'justlaw-master/assets/img/hero/hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <!-- <div class="hero__caption">
                                    <p data-animation="fadeInUp" data-delay=".6s">Professional lawyers</p>
                                    <h1 data-animation="fadeInUp" data-delay=".4s" >We will fight<br>
                                        for you like a friend </h1>
                                </div> -->
                            </div>
                        </div>
                    </div>

                </div>
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center" data-background="{% static 'justlaw-master/assets/img/hero/hero.jpg' %}">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-9 col-lg-9 col-md-9">
                                <!-- <div class="hero__caption">
                                    <p data-animation="fadeInUp" data-delay=".6s">Professional lawyers</p>
                                    <h1 data-animation="fadeInUp" data-delay=".4s" >We will fight<br>
                                        for you like a friend </h1>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div> 
        <!-- slider Area End-->

{%endblock%}