{%extends 'staff_index.html'%}
{% load static %}
{%block content%} 

<br> <br> <br> <br> <br> <br> 

        <!-- Contact form Start -->
        <div class="contact-form bg-height pb-160">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                        <div class="form-wrapper">
                        <!--Section Tittle  -->
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="section-tittle section-tittle-f text-center mb-70">
                                        <h2>FIR</h2>
                                    </div>
                                </div>
                            </div>
                            <!--End Section Tittle  -->
                            <form id="contact-form" action="" method="POST" disabled>
    
                                    {% csrf_token %}
                                    {{ form.as_p }}
                                                   
                             </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact form End -->

     
{%endblock%}