{%extends 'staff_index.html'%}
{% load static %}
{%block content%} 

        <div class="container py-5">
            <div class="row ">
                <div class="col-xl-12">
                    <div class="section-tittle section-tittle-f text-center mb-70">
                        <h2>Cases</h2>
                    </div>
                </div>
            </div>
            <div class="row py-5" style="padding-top: 0rem !important;">
                <div class="col-lg-10 mx-auto" style="flex: 1 0 83.333333%; max-width: 100%" >
                <div class="card rounded shadow border-0">
                  <div class="card-body p-5 bg-white rounded">
                    <div class="table-responsive">
                      <table id="example" style="width:100%" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Petitoner Name</th>
                                <th>Aadhar No.</th>
                                <th>Date</th>
                                <th>Case</th>
                                <th>FIR</th>
                                <th></th>
                                
                              </tr>
                        </thead>
                        <tbody>
                            {% for j in caselist %}
                            <tr>
                              <td>{{j.petitionername}}</td>
                              <td>{{j.aadharno}}</td>
                              <td>{{j.currentdate}}</td>
                              <td>{{j.case}}</td>
                              <td>
                                {% for f in firview %}
                                  {% if f.caseid2_id == j.pk %}
                                    <a href="{% url 'staff_fir_view' case1=0 case2=j.pk %}"><button class="genric-btn success"> View&nbspFIR </button></a>
                                  {% endif %}
                                {% endfor %}
                                
                              </td>
                              <td><a href="{% url 'staff_case_view' j.pk %}" ><button class="genric-btn primary"> View/Edit&nbspCase </button></a>
                                &nbsp<a href="{% url 'case_delete' j.pk %}" ><button class="genric-btn danger"> &nbsp&nbspDelete&nbsp&nbspCase&nbsp&nbsp </button></a></td>
                              
                              
                            </tr>
                            {% endfor %}
                            {% for k in pcaselist %}
                            <tr>
                              <td>{{k.publicid.name}} &nbsp<i>(Public)</i></td>
                              <td>{{k.aadharno}}</td>
                              <td>{{k.currentdate}}</td>
                              <td>{{k.case}}</td>
                              <td>
                                {% for f in firview %}
                                  {% if f.caseid_id == k.pk %}
                                    <a href="{% url 'staff_fir_view'  case1=k.pk case2=0 %}"><button class="genric-btn success"> View&nbspFIR </button></a>
                                  {% endif %}
                                {% endfor %}
                                
                              </td>
                              <td><a href="{% url 'staff_pcase_view' k.pk %}" ><button class="genric-btn primary"> &nbsp&nbsp&nbsp&nbspView&nbspCase&nbsp&nbsp&nbsp&nbsp</button></a></td>
                              
                            </tr>
                            {% endfor %}
                          
                        </tbody>
                      </table>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

{%endblock%}