{%extends 'staff_index.html'%}
{% load static %}
{%block content%} 

<br> <br> <br> <br> <br> <br> 

        <!-- Contact form Start -->
        <div class="contact-form bg-height pb-160" data-background="assets/img/about/contact_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                        <div class="form-wrapper">
                        <!--Section Tittle  -->
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="section-tittle section-tittle-f text-center mb-70">
                                        <h2>Work History</h2>
                                    </div>
                                </div>
                            </div>
                            <!--End Section Tittle  --><br> <br> 
                            <form id="contact-form" role="form">
                                
                            <div class="col-lg-6 col-md-6">                                  
                                    Work History                                     
                            </div>
                            <div class="col-lg-12">
                                <div class="form-box user-icon mb-30">
                                    <input type="text" name="add1" placeholder="{{workhistoryview.work_history}}" disabled>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6">                                  
                            
                            <div class="submit-info">
                                <a href="/staff_workhistory_edit" ><div class="submit-btn2" ><center>Update</center></div></a>
                                
                            </div>
                                
                           </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact form End -->

{%endblock%}