{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Lawyer HTML-5 Template</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="shortcut icon" type="image/x-icon" href="{% static 'justlaw-master/assets/img/favicon.ico' %}">

		<!-- CSS here -->
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/owl.carousel.min.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/slicknav.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/animate.min.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/magnific-popup.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/fontawesome-all.min.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/themify-icons.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/flaticon.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/slick.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/nice-select.css' %}">
            <link rel="stylesheet" href="{% static 'justlaw-master/assets/css/style.css' %}">
            <link rel="stylesheet" href="{% static 'Table/bootstrap.min.css' %}">
            <link rel="stylesheet" href="{% static 'Table/font-awesome.min.css' %}">
            <link rel="stylesheet" href="{% static 'Table/dataTables.bootstrap4.min.css' %}">
            <link rel="stylesheet" href="{% static 'chat/css/style.css' %}">
            <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
   </head>

   <body>
       
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'justlaw-master/assets/img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <header>
        <!-- Header Start -->
       <div class="header-area header-sticky">
            <div class="container-fluid">
                <div class="row align-items-center" style="height: 75px;">
                    <!-- Logo -->
                    <div class="col-xl-2 col-lg-1 col-md-1">
                        <div class="logo">
                            <a href="#"><img src="{% static 'justlaw-master/assets/img/logo/logo.png' %}" alt="" ></a>
                        </div>
                    </div>
                    <div class="col-xl-7 col-lg-8 col-md-6" style="flex: 1 0 50%;max-width: 100%" >
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">  
                                    <li><a href="/staff_home">Home</a></li>
                                    <li><a href="#">Profile</a>
                                        <ul class="submenu">
                                            <li><a href="/staff_profile_view">View/Edit&nbspProfile</a></li>
                                            <li><a href="/staff_workhistory_view">Work History</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/staff_duty_view">Duty</a></li>
                                    <li><a href="/staff_criminal_view">Criminals</a></li>
                                    <li><a href="/staff_complaint_view">Complaints</a></li>
                                    <li><a href="/staff_msg_view">Messages</a></li>
                                    <li><a href="#">Case</a>
                                        <ul class="submenu">
                                            <li><a href="/staff_case_reg">Case Registration</a></li>
                                            <li><a href="/staff_case_list">Submitted Cases</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/staff_attendance_view">Attendance</a></li>
                                    <li><a href="/staff_salary_view">Salary</a></li>
                                    <li><a href="/Logout" style="background-color: rgb(255, 255, 255); height: -30px;"><b style="color: black;">LOG OUT</b></a></li>
                                    
                                </ul>
                            </nav>
                        </div>
                    </div>             
                    <!-- <div class="col-xl-3 col-lg-3 col-md-3">
                        Header-btn
                        <div class="header-btn d-none d-lg-block f-right">
                            <a href="#" class="btn header-btn" style="
                            padding-top: 2px;
                            padding-right: 3px;
                            padding-bottom: 2px;
                            padding-left: 3px;
                        ">
                        <img src="/static/justlaw-master/assets/img/logo/govtofkerala.png" alt="" width="120" height="60"></a>                        </div>
                    </div>
                    </div> -->
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
       </div>
        <!-- Header End -->
    </header>
    <main>

        {%block content%}
        {%endblock%}


    </main>
    <footer>
    <!-- Footer Start-->
    <div class="footer-area footer-bg footer-padding">
        <div class="container">
            <div class="row d-flex justify-content-between">
                <div class="col-xl-3 col-lg-3 col-md-4 col-sm-7">
                   <div class="single-footer-caption mb-50">
                     <!-- logo -->
                     <div class="footer-logo">
                     <a href="index.html"><img src="{% static 'justlaw-master/assets/img/logo/logo.png' %}" alt=""></a>
                     </div>
                     
                     
                   </div>
                </div>
                
            </div>
        </div>
    </div>
    
    
    </footer>
    
    <!-- JS here -->
    
     <!-- All JS Custom Plugins Link Here here -->
     <script src="{% static 'justlaw-master/./assets/js/vendor/modernizr-3.5.0.min.js' %}"></script>
     <!-- Jquery, Popper, Bootstrap -->
     <script src="{% static 'justlaw-master/./assets/js/vendor/jquery-1.12.4.min.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/popper.min.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/bootstrap.min.js' %}"></script>
     <!-- Jquery Mobile Menu -->
     <script src="{% static 'justlaw-master/./assets/js/jquery.slicknav.min.js' %}"></script>
    
     <!-- Jquery Slick , Owl-Carousel Plugins -->
     <script src="{% static 'justlaw-master/./assets/js/owl.carousel.min.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/slick.min.js' %}"></script>
     
     <!-- One Page, Animated-HeadLin -->
     <script src="{% static 'justlaw-master/./assets/js/wow.min.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/animated.headline.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/jquery.magnific-popup.js' %}"></script>
    
     <!-- Scrollup, nice-select, sticky -->
     <script src="{% static 'justlaw-master/./assets/js/jquery.scrollUp.min.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/jquery.nice-select.min.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/jquery.sticky.js' %}"></script>
     
     <!-- counter , waypoint -->
     <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
     <script src="{% static 'justlaw-master/./assets/js/jquery.counterup.min.js' %}"></script>
    
     <!-- counter -->
     <script src="{% static 'justlaw-master/./assets/js/contact.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/jquery.form.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/jquery.validate.min.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/mail-script.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/jquery.ajaxchimp.min.js' %}"></script>
     
     <!-- Jquery Plugins, main Jquery -->	
     <script src="{% static 'justlaw-master/./assets/js/plugins.js' %}"></script>
     <script src="{% static 'justlaw-master/./assets/js/main.js' %}"></script>
    
    
     <script src="{% static 'Table/jquery-3.3.1.slim.min.js' %}"></script>
    <script src="{% static 'Table//bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'Table/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'Table/dataTables.bootstrap4.min.js' %}"></script>
    
    <script type="text/javascript">
        $(function() {
            $(document).ready(function() {
            $('#example').DataTable();
            });
        });
        </script>
    
     
    </body>
    </html>