{%extends 'station_index.html'%}
{% load static %}
{%block content%} 

<br> <br> <br> <br> <br> <br> 

        <!-- Contact form Start -->
        <div class="contact-form bg-height pb-160" data-background="assets/img/about/contact_bg.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-8 offset-lg-2 offset-xl-2">
                        <div class="form-wrapper">
                        <!--Section Tittle  -->
                            <div class="row ">
                                <div class="col-xl-12">
                                    <div class="section-tittle section-tittle-f text-center mb-70">
                                        <h2>Upload FIR</h2>
                                    </div>
                                </div>
                            </div>
                            <!--End Section Tittle  -->
                            <form id="contact-form" action="" method="POST" enctype="multipart/form-data">
                                {% csrf_token %}
                                
                                {{form.as_p}}
                                  
                                
                                    <div class="submit-info">
                                        <button class="submit-btn2" type="submit">Submit</button>
                                    
                                    </div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Contact form End -->
        </div>


{%endblock%}